# Clerk auth keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5hYmxpbmctbW90aC05Ny5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_FardYDLdv13ToTqXyotBCjqCHQTIT7ncLeHu8197SI
CLERK_JWT_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvxd3dEsOY4DDWVxt49TjNyPd6qpudNuG2M1CJ9VxdxGRmT1NyO9VfADylczJGWHj8iXCQaD3j1vDJHFnM/d4y/4DpP6hBsxjVLMYc9B8q637AkB12FhG9GXCE4qRP0uPAMZu5uEwLA2a7PpoVetxvmEi+nu36ClaTBIUVBZECawcTgfP8FCKZHmbiNRhCM+NDF3WJTnIGytlgyqJOXzovdVrBIfbUXJ03c9ZSxrHND9PFG71ER+vro2h8tM8HUQTIlyDsKv509vfR3X7oBowpD7MJXTKIYK/NRI/iZdgOPR0HkPpbs2MmueWSaajYwNfTv9Ei6CYS7mxTKyGk2AA1QIDAQAB


